@import "tailwindcss";

@theme {
  --color-banan-bg: #F9F6F0;
  --color-banan-olive: #4A5D23;
  --color-banan-olive-light: #788B54;
  --color-banan-brown: #A67B5B;
  --color-banan-beige: #E8DCCB;
  
  /* سيتم تمرير متغير الخط من Next.js */
  --font-sans: var(--font-arabic), system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-banan-bg text-banan-olive font-sans selection:bg-banan-olive-light selection:text-white;
  }
}